
python/aboutpypiserver/packages/*
python/venv/*


python/.vscode/*
python/excel/Untitled.ipynb
python/excel/p2.py
python/excel/p1.py
python/excel/filtered.xlsx
python/zipline/venv/*
python/zipline/.vscode/*
python/zipline/node_modules/*
*.exe
